<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MihuiMusicStore</title>

    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!--#region Css Styles -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="~/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="~/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/style.css" type="text/css">
    <!--#endregion-->

</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!--#region Header Section Begin -->
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="header__logo">
                        <a asp-action="Index"><img src="~/img/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <nav class="header__menu">
                        <ul>
                            <li class="active"><a asp-action="Index">Acasă</a></li>
                            <li><a asp-action="ShopGrid" asp-route-id="">Shop</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </nav>
                </div>
                @*<div class="col-lg-3">
                        <div class="header__cart">
                            <ul>
                                <li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li>
                                <li><a href="#"><i class="fa fa-shopping-bag"></i> <span>3</span></a></li>
                            </ul>
                            <div class="header__cart__price">item: <span>$150.00</span></div>
                        </div>
                    </div>*@
            </div>
            <div class="humberger__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    <!--#endregion Header Section End -->
    <!--#region Hero Section Begin -->
    <section class="hero hero-normal">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="hero__categories">
                        <div class="hero__categories__all">
                            <i class="fa fa-bars"></i>
                            <span style="font-size: 16px;">Instrumente muzicale</span>
                        </div>
                        <ul>
                            <li><a asp-action="ShopGrid" asp-route-id="@((int)MusicStore.Controllers.ItemType.ElectricGuitar)">Chitare Electrice</a></li>
                            <li><a asp-action="ShopGrid" asp-route-id="@((int)MusicStore.Controllers.ItemType.AcousticGuitar)">Chitare Acustice</a></li>
                            <li><a hasp-action="ShopGrid" asp-route-id="@((int)MusicStore.Controllers.ItemType.ClassicalGuitar)">Chitare Clasice</a></li>
                            <li><a asp-action="ShopGrid" asp-route-id="@((int)MusicStore.Controllers.ItemType.Bass)">Chitare Bass</a></li>
                            <li><a asp-action="ShopGrid" asp-route-id="@((int)MusicStore.Controllers.ItemType.AmpElectricGuitar)">Amplificatoare Chitară Electrică</a></li>
                            <li><a asp-action="ShopGrid" asp-route-id="@((int)MusicStore.Controllers.ItemType.AmpBass)">Amplificatoare Chitară Bass</a></li>
                            <li><a asp-action="ShopGrid" asp-route-id="@((int)MusicStore.Controllers.ItemType.Drums)">Tobe</a></li>
                            <li><a asp-action="ShopGrid" asp-route-id="@((int)MusicStore.Controllers.ItemType.Piano)">Piane, Clape</a></li>
                            <li><a asp-action="ShopGrid" asp-route-id="@((int)MusicStore.Controllers.ItemType.EffectGuitar)">Efecte Chitară Electrică</a></li>
                            <li><a asp-action="ShopGrid" asp-route-id="@((int)MusicStore.Controllers.ItemType.EffectBass)">Efecte Chitară Bass</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="hero__search">
                        <div class="hero__search__form">
                            <form asp-action="ShopGrid">
                                <input type="text" placeholder="Ce cauți?" aria-label="Search" name="name">
                                <button type="submit" class="site-btn">CAUTĂ</button>
                            </form>
                        </div>
                        <div class="hero__search__phone">
                            <div class="hero__search__phone__icon">
                                <i class="fa fa-phone"></i>
                            </div>
                            <div class="hero__search__phone__text">
                                <h5>0720 720 720</h5>
                                <span>asistență 24/7 </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--#endregion Hero Section End -->

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!--#region Footer Section Begin -->
    <footer class="footer spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__about__logo">
                            <a href="./index.html"><img src="~/img/logo.png" alt=""></a>
                        </div>
                        <ul>
                            <li>Telefon: 0720 720 720</li>
                            <li>Email: contact@mihuimusicstore.com</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
                    <div class="footer__widget">
                        <h6>Link-uri utile</h6>
                        <ul>
                            <li><a href="#">Despre Noi</a></li>
                            <li><a href="#">Despre Magazinul Nostru</a></li>
                            <li><a href="#">Cumpără în siguranță</a></li>
                            <li><a href="#">Informații livrare</a></li>
                            <li><a href="#">Politica de confidențialitate</a></li>
                        </ul>

                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="footer__widget">
                        <h6>Înscrie-te la newsletter-ul nostru!</h6>
                        <p>Primește notificări pe email cu noile noastre oferte.</p>
                        <form action="#">
                            <input type="text" placeholder="Email-ul tău">
                            <button type="submit" class="site-btn">Abonează-te</button>
                        </form>
                        <div class="footer__widget__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--#endregion Footer Section End -->
    <!--#region Js Plugins -->
    <script src="~/js/jquery-3.3.1.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.nice-select.min.js"></script>
    <script src="~/js/jquery-ui.min.js"></script>
    <script src="~/js/jquery.slicknav.js"></script>
    <script src="~/js/mixitup.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/main.js"></script>
    <!--#endregion-->
</body>
</html>
